div{ /* selector */
    text-align:right;/* declaration block */
}
p{
    color:blue;
    background-color:green;
}
<!-- HTML
/ * CSS * / 

#header {
  background: black;
}

.card {
  border: 1px solid gray;
}
<p class="highlight module right"></p>

